ALLOW_PARALLEL_COMMANDS=False
DEFAULT_SPAM_COUNT=100
DOWNLOAD_DIR=downloads
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
LOG_LEVEL=INFO
MAX_COOLDOWN=3.0
MAX_SPAM_COUNT=1000
MIN_COOLDOWN=1.0
TELEGRAM_ADMIN_IDS=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_SESSION_STRING=""
